[tool.black]
line-length = 79
exclude = '''
/(
    \.git
  | \.?venv
)/
'''

[tool.ruff]
target-version = "py38"
line-length = 79
ignore = [
    "E501",
]

select = [
    "B",
    "E",
    "F",
    "C",
]
